[packages]
aiocache = "*"
aiogram = "*"
marshmallow = "*"
python-dotenv = "*"
sentry-sdk = "*"
structlog = "*"
structlog-sentry = "*"
aiohttp = "*"
ujson = "*"

[dev-packages]
aioresponses = "*"
colorama = "*"
black = {git = "https://github.com/psf/black.git",ref = "19.3b0"}
isort = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-comprehensions = "*"
flake8-debugger = "*"
flake8-print = "*"
flake8-quotes = "*"
flake8-todo = "*"
pep8-naming = "*"
pydocstyle = "*"
mypy = "<0.740"
coverage = "*"
pytest = "*"
pytest-cov = "*"
pytest-html = "*"
pytest-sugar = "*"
pytest-aiohttp = "*"
pytest-timeout = "*"
pygments = "*"

[scripts]
bot = "python -m tg_odesli_bot"
