[packages]
aiogram = "*"
ujson = "*"
sentry-sdk = "*"
python-dotenv = "*"
structlog = "*"
black = {git = "https://github.com/psf/black.git",ref = "19.3b0"}
isort = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-comprehensions = "*"
flake8-debugger = "*"
flake8-print = "*"
flake8-quotes = "*"
flake8-todo = "*"
pep8-naming = "*"
pydocstyle = "*"
mypy = "<0.740"
coverage = "*"
pytest = "*"
pytest-cov = "*"
pytest-html = "*"
pytest-sugar = "*"
aioresponses = "*"
colorama = "*"
structlog-sentry = "*"
marshmallow = "*"
pytest-aiohttp = "*"

[dev-packages]
pre-commit = "*"
pygments = "*"
