aiocache==0.11.1
aiogram==2.18
aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
Babel==2.9.1
certifi==2021.10.8
charset-normalizer==2.0.10
frozenlist==1.2.0
idna==3.3
marshmallow==3.14.1
multidict==5.2.0
python-dotenv==0.19.2
pytz==2021.3
pywatchman==1.4.1
sentry-sdk==1.5.2
structlog==21.5.0
structlog-sentry==1.4.0
tg-odesli-bot==0.2.16
ujson==5.1.0
urllib3==1.26.8
yarl==1.7.2
